<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985327238937-qsao9p0gg75qjnh3ta60bn0v0mo7s4ht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985327238937-qsao9p0gg75qjnh3ta60bn0v0mo7s4ht</string>
	<key>API_KEY</key>
	<string>AIzaSyAhlK5eEvf0Z9aAvu5fs0uJYqSsRKqLuHM</string>
	<key>GCM_SENDER_ID</key>
	<string>985327238937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movies</string>
	<key>PROJECT_ID</key>
	<string>movies-f56b7</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-f56b7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985327238937:ios:e055be2d92994868b20f88</string>
</dict>
</plist>